// ion-card{
//     ion-card-header{
//         ion-card-subtitle{
//             font-size: .8rem;
//         }
//         ion-card-title{
//             font-size: 1rem;
//         }
//     }
//     ion-card-content{
//         img{
//             object-fit: cover;
//         }
//     }
// }
ion-card{
    ion-card-content{
        ion-img{
            max-height: 50%;
        }
    }
    ion-item{
        ion-label{
            b{
                font-size: 1rem;
            }
            p{
                font-size: .8rem;
            }
        }
    }
}