<ion-content [fullscreen]="true" color="light">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <div class="card" *ngFor="let item of homeList">
        <ion-img [src]="item.snippet.thumbnails.high.url" alt="demo"></ion-img>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://picsum.photos/50" alt="demo" />
            </ion-avatar>
            <ion-label>
                <b>{{item.snippet.channelTitle}}</b>
                <p>{{item.snippet.title}}</p>
            </ion-label>
        </ion-item>
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>