<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="light">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon
          slot="icon-only"
          class="logo"
          src="assets/icon/logo-small.svg"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding"> <b>Live</b>Tube </ion-title>
    <ion-buttons slot="end">
      <ion-button class="ion-no-padding ion-no-margin">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button class="ion-no-padding ion-no-margin">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    pullFactor="0.8"
    pullMin="60"
    pullMax="120"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" size-md="6" size-lg="4" size-xl="3" *ngFor="let profile of profiles;let i=index">
        <ion-card class="ion-no-margin">
          <ion-card-content class="ion-no-padding" (click)="presentPlayerModule(i)" *ngIf="images">
            <ion-img [src]="images[i].download_url" [alt]="images[i].id"></ion-img>
          </ion-card-content>
          <ion-item>
            <ion-avatar slot="start">
              <img [src]="profile.picture.thumbnail" />
            </ion-avatar>
            <ion-label *ngIf="images">
              <b>{{profile.name.title+"."+profile.name.first +" "+profile.name.last}}</b>
              <p>{{ images[i].author }}</p>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    </ion-grid>



  <!-- <ion-card *ngFor="let profile of profiles;let i=index">
    <ion-card-content class="ion-no-padding" (click)="presentPlayerModule(i)" *ngIf="images">
      <ion-img [src]="images[i].download_url" [alt]="images[i].id"></ion-img>
    </ion-card-content>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="profile.picture.thumbnail" />
      </ion-avatar>
      <ion-label *ngIf="images">
        <b>{{profile.name.title+"."+profile.name.first +" "+profile.name.last}}</b>
        <p>{{ images[i].author }}</p>
      </ion-label>
    </ion-item>
  </ion-card> -->





  <!-- <ion-card *ngFor="let item of homeList">
    <ion-card-content class="ion-no-padding" (click)="presentPlayerModule()">
      <ion-img [src]="item.snippet.thumbnails.high.url" alt="demo"></ion-img>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>{{item.snippet.title}}</ion-card-title>
      <ion-card-subtitle>{{item.snippet.channelTitle}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card> -->
  <ion-infinite-scroll threshold="1%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
