<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="light">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" class="logo" src="assets/icon/logo-small.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">
      <b>Live</b>Tube
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="ion-no-padding ion-no-margin">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button class="ion-no-padding ion-no-margin">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
